DATABASE_URL="postgresql://user:password@host-pooler.region.aws.neon.tech/database?sslmode=require"
DIRECT_URL="postgresql://user:password@host.region.aws.neon.tech/database?sslmode=require"
JWT_SECRET="generate-with-openssl-rand-hex-32"
PORT=3333
SEED_USER_NAME="your-name-here"
SEED_USER_EMAIL="your-email@example.com"
SEED_USER_PASSWORD="your-password-here"
